# Laravel
/node_modules
/public/storage
/vendor
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
.vagrant/

# IntelliJ project files
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
