.portal-container {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (min-width: @screen-sm) {
    .portal-sidebar {
        padding-right: 30px;
        border-right: 1px dashed #cccccc;
    }
}

@media (max-width: @screen-sm) {
    .portal-sidebar {
        margin-bottom: 30px;
    }
}

.portal-user-pic {
    img {
        float: none;
        margin: 0 auto;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }
}

.portal-user-title {
    text-align: center;
    margin-top: 20px;

    .portal-user-name {
        color: @theme-secondary;
        font-size: 16px;
        font-weight: 600;
    }

    .portal-user-account {
        text-transform: uppercase;
        color: @theme-primary;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 15px;
    }
}

.portal-user-buttons {
    text-align: center;
    margin-top: 10px;

    .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        i {
            margin-right: 3px;
        }
    }
}

.portal-user-menu {
    margin-top: 20px;

    ul li {
        border-bottom: 1px solid #eef2f5;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: darken(@theme-secondary, 4%);
            font-size: 14px;
            font-weight: 400;

            i {
                font-size: 14px;
                width: 24px;
            }

            &:hover {
                background-color: #fafcfd;
                color: @theme-secondary;
            }
        }

        &.active {
            border-bottom: none;

            a {
                color: @theme-secondary;
                background-color: #f6f9fb;
                border-left: 3px solid @theme-secondary;
                margin-left: -2px;
            }
        }
    }
}