// Button Styles
.btn-default {
  .button-variant(@theme-secondary;white;white);
}

.btn-primary {
  .button-variant(white;@orange-middle; @orange-middle);
}

.btn {
  .sans-serif-font;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
}

// Button Outline Style
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: @brand-primary;
}

.btn-success.btn-outline {
  color: @brand-success;
}

.btn-info.btn-outline {
  color: @brand-info;
}

.btn-warning.btn-outline {
  color: @brand-warning;
}

.btn-danger.btn-outline {
  color: @brand-danger;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}