body {
  position: relative;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 80px;
}
body.with-affix-menu {
  padding-top: 0 !important;
}
hr.title {
  border-color: #f05921;
  border-width: 3px;
  max-width: 50px;
}
hr.title.left {
  margin-left: 0;
}
hr.separator {
  border-width: 1px;
  border-style: dashed;
  width: 50%;
}
iframe {
  border: none;
}
.above-fold {
  z-index: 1;
  position: relative;
  width: 100%;
  text-align: center;
}
.above-fold a {
  position: absolute;
}
.above-fold a .btn-scroll-arrow {
  background-color: #FFF;
  display: block;
  width: 48px;
  height: 48px;
  -webkit-transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
  -webkit-transition: fill 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 50%;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.13);
  margin: -24px auto -24px -24px;
}
.above-fold a .btn-scroll-arrow .fa {
  font-size: 40px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .above-fold a .btn-scroll-arrow {
    width: 36px;
    height: 36px;
    margin: -18px auto -18px -18px;
  }
  .above-fold a .btn-scroll-arrow .fa {
    font-size: 30px;
    margin-top: 3px;
  }
}
.above-fold a:hover .btn-scroll-arrow {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
@-webkit-keyframes moving-arrow {
  0% {
    bottom: 25px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 25px;
  }
}
.btn-primary {
  color: white;
  background-color: #ff7c00;
  border-color: #ff7c00;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #e67000;
  border-color: #db6b00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ff7c00;
  border-color: #ff7c00;
}
.btn-primary .badge {
  color: #ff7c00;
  background-color: white;
}
.btn {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-outline {
  background-color: transparent;
  color: inherit;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #f05921;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  color: #f05921;
}
a:hover,
a:focus {
  color: #f37d51;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.6px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background: #f05921 url(../images/textures/arches.png);
  color: white;
}
.bg-secondary {
  background: #005c69 url(../images/textures/arches.png);
  color: white;
}
.bg-featured {
  background: #e6e6e6 url(../images/textures/batik.png);
}
.bg-aliceblue {
  background: #F0F8FF;
}
.bg-softgray {
  background: #F7FAFC;
}
.bg-dark {
  background: #222222 url(../images/textures/black-linen.png);
  color: white;
}
.bg-maroon {
  background: #9B4B5A url(../images/textures/black-linen.png);
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.text-primary {
  color: #f05921;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-gutter > [class*='col-'] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.clear {
  clear: both;
}
.navbar-default {
  background-color: #005c69;
  border-bottom: 1px solid #004a55;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-collapse {
  border-color: #004a55;
}
.navbar-default .navbar-header .navbar-brand img {
  margin-top: -7px;
  height: 40px;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  /*color: darken(@theme-secondary, 8%);*/
  color: #e6e6e6;
  background-color: transparent;
  text-transform: uppercase;
  /*border-color: darken(@theme-secondary, 8%);*/
  border-color: #e6e6e6;
}
.navbar-default .nav > li .dropdown-menu > li > a {
  color: #e6e6e6 !important;
}
.navbar-default .nav > li.open > a,
.navbar-default .nav > li.open > a:focus,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  background-color: transparent;
  color: #e6e6e6;
}
.navbar-default .nav > li.open > a:hover,
.navbar-default .nav > li.open > a:focus:hover,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #ffffff;
}
.navbar-default .nav > li.open > a.login,
.navbar-default .nav > li.open > a:focus.login,
.navbar-default .nav > li > a.login,
.navbar-default .nav > li > a:focus.login {
  color: #ff9633;
}
.navbar-default .nav > li.open > a.login:hover,
.navbar-default .nav > li.open > a:focus.login:hover,
.navbar-default .nav > li > a.login:hover,
.navbar-default .nav > li > a:focus.login:hover {
  color: #aaaaaa;
}
.navbar-default .nav > li.open > a.login .material-icons,
.navbar-default .nav > li.open > a:focus.login .material-icons,
.navbar-default .nav > li > a.login .material-icons,
.navbar-default .nav > li > a:focus.login .material-icons {
  margin-top: -3px;
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #f05921 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default .navbar-header .navbar-brand img {
    margin-top: -3px;
    height: 40px;
  }
  .navbar-default .nav > li > .dropdown-menu {
    background-color: #004a55;
  }
  .navbar-default .nav > li > .dropdown-menu a {
    color: #e6e6e6;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 300;
  }
  .navbar-default .nav > li > .dropdown-menu a:hover {
    background-color: #f05921;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
  }
  .navbar-default .nav > li:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
  .navbar-default .nav > li .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    right: auto;
    left: 0;
  }
}
@media (min-width: 768px) {
  body.with-affix-menu .navbar-default.affix-top {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  body.with-affix-menu .navbar-default.affix-top .nav > li > a,
  body.with-affix-menu .navbar-default.affix-top .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  body.with-affix-menu .navbar-default.affix-top .nav > li > a:hover,
  body.with-affix-menu .navbar-default.affix-top .nav > li > a:focus:hover {
    color: white;
  }
}
footer {
  padding: 20px 0;
  background: #F7F7F7;
  color: #4a4a4a;
  border-top: 1px solid #e6e6e6;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}
footer .container .copyright {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}
footer .container .footer-logo {
  text-align: right;
}
footer .container .footer-logo img {
  margin-left: 15px;
  height: 45px;
}
@media (max-width: 992px) {
  footer .container .copyright {
    padding-top: 0;
    text-align: center !important;
    margin-bottom: 15px;
  }
  footer .container .footer-logo {
    text-align: center !important;
  }
}
.content-container {
  width: 80%;
  margin: 0 auto 80px auto;
}
.content-header {
  margin-bottom: 20px;
}
.content-header h1 {
  text-align: center;
  color: #005c69;
}
.content-detail {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .content-container {
    width: 100%;
    margin: 0 auto;
  }
}
header.sim-carousel {
  position: relative;
}
header.sim-carousel .carousel .item {
  background-color: #777;
}
header.sim-carousel .carousel-caption {
  top: 40%;
  left: 20%;
  right: 20%;
  bottom: auto;
}
@media (min-width: 768px) {
  header.sim-carousel .carousel-indicators {
    bottom: 30px;
  }
}
@media (min-width: 768px) {
  header.sim-carousel #header-nav-masking {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.001)), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.001) 0, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.001) 0, rgba(0, 0, 0, 0.3) 100%);
    background-repeat: repeat-x;
  }
  header.sim-carousel #header-nav-masking.affix {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  header.sim-carousel .item .carousel-caption h1 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  header.sim-carousel .item .carousel-caption p {
    font-size: 13px;
  }
  header.sim-carousel .item .carousel-caption p .btn {
    visibility: hidden;
  }
}
section {
  padding: 90px 0;
}
section .col-content {
  text-align: center;
  padding: 35px;
}
section .col-illustration {
  text-align: center;
}
section .col-illustration .embed-responsive {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
}
section .col-illustration .img-responsive {
  margin-left: auto;
  margin-right: auto;
}
section .col-content-list {
  text-align: left;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px;
}
section .col-content-list .fa {
  padding: 3px 0;
  color: #f05921;
}
section.section-left {
  text-align: left;
}
section.section-left .col-content {
  text-align: left;
}
section.section-left hr {
  margin-left: 0;
}
section.section-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.section-box.featured {
  border-top: 5px solid #b3b3b3;
}
section.section-box .section-box-item {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 7px 17px 0 rgba(0, 0, 0, 0.1);
  height: 150px;
  padding: 15px;
}
section.section-box .section-box-item:hover {
  -webkit-transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.17), 0 7px 25px 0 rgba(0, 0, 0, 0.15);
}
section.section-box .section-box-item .box-header {
  position: relative;
}
section.section-box .section-box-item .box-header .box-title {
  margin: 0;
  color: #005c69;
}
section.section-box .section-box-item .box-header .box-title-action {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  section.section-box {
    padding-top: 15px;
    padding-bottom: 0;
  }
  section.section-box .section-box-item {
    margin-bottom: 15px;
  }
}
.section-heading {
  margin-top: 0;
}
aside {
  padding: 50px 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
#featured {
  padding: 1px 0;
}
#featured .container {
  width: 100%;
}
#featured .row > div {
  padding: 1px;
}
#featured .row > div > span {
  background: #e6e6e6 url(../images/textures/batik.png);
  padding: 18px 0;
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}
#featured .row > div > div {
  position: relative;
  background: #e6e6e6 url(../images/textures/batik.png);
  height: 150px;
  padding: 0 20px;
  overflow: hidden;
}
#featured .row > div > div > div {
  height: 120px;
}
#featured .row > div > div > div ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify;
}
#featured .row > div > div > div ul * {
  display: block;
}
#featured .row > div > div > div ul li a {
  padding-bottom: 15px;
}
#featured .row > div > div > div ul li a:hover {
  opacity: .8;
  color: #f05921;
  text-decoration: none;
}
#featured .row > div > div > div ul li a:hover > *:first-child {
  text-decoration: underline;
}
#featured .row > div > div > div ul li a span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#featured .row > div > div > div ul li a img {
  width: 100%;
  margin: 5px 0;
}
#featured .row > div > div > div ul li:last-child a {
  padding-bottom: 0;
}
#featured .row > div > div iframe {
  margin-bottom: 10px;
  padding: 0;
}
#featured .row > div > div p {
  width: 100%;
  float: left;
  text-align: justify;
}
#featured .row > div > div p:last-of-type {
  margin-bottom: 0;
}
#content img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
#content img.contentimage {
  width: 100%;
}
#content h2 {
  margin-top: 50px;
  color: #005c69;
  text-align: left;
}
#content select {
  cursor: pointer;
}
#content select.form-control[disabled] {
  cursor: not-allowed;
}
#content .date-control {
  display: block;
  width: 100%;
}
#content .date-control select.form-control {
  display: inline-block;
  width: auto;
}
#content .phone-control select.form-control,
#content .phone-control input.form-control,
#content .phone-control b {
  display: inline-block;
  width: auto;
}
#content .phone-control input.form-control {
  width: 30px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  margin: 0 2px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  text-align: center;
}
#content .phone-control input.form-control:focus {
  box-shadow: none;
}
#content .phone-control input.form-control.minus {
  border: none;
}
#content .phone-control b {
  margin: 0 10px;
}
#content .address-control input.form-control,
#content .address-control b {
  display: inline-block;
  width: auto;
}
#content .address-control input.form-control {
  width: 75px;
  text-align: center;
}
#content .address-control b {
  margin: 0 10px;
}
#content .radio label:not(:last-child) {
  margin-right: 20px;
}
#content .radio label input[type="radio"] {
  cursor: pointer;
}
#content .checkbox label input[type="checkbox"] {
  cursor: pointer;
}
#content .applynew {
  margin-top: 20px;
}
#content .applynew .nationality select.form-control {
  display: inline-block;
  width: auto;
}
#content .applynew .date-control {
  width: 83.33%;
}
#content .applynew .date-control .checkbox {
  margin-bottom: 7px;
}
#content .identity:after,
#content .starting-balance:after {
  position: absolute;
  content: '';
  top: 0;
  background: #e6e6e6;
  width: 1px;
  height: 100%;
}
#content .identity:after {
  left: 100%;
}
#content .starting-balance:after {
  left: 0;
}
#content .identity,
#content .billing {
  margin-top: 20px;
}
#content .variables {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin: 10px 0;
  padding: 10px 0;
}
#content canvas#simulation {
  margin: 40px 0;
}
#content .simulationresult {
  margin-bottom: 15px;
}
#content .simulationresult label {
  display: block;
}
#content .simulationresult span,
#content .simulationresult b {
  display: inline-block;
  vertical-align: top;
  color: #004a55;
  font-size: 28px;
}
#content .simulationresult b {
  font-size: 40px;
}
@media (max-width: 768px) {
  #content {
    padding: 0;
  }
  #content h2 {
    margin-top: 20px;
  }
}
#customer .row > *:first-child a {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #555555;
  text-decoration: none;
  cursor: pointer;
}
#customer .row > *:first-child a.profile {
  margin-bottom: 20px;
  font-size: 20px;
}
#customer .row > *:first-child a.profile > span {
  display: block;
  float: left;
}
#customer .row > *:first-child a.profile > span:first-of-type {
  width: 50px;
  height: 50px;
  background: #005c69;
  border-radius: 50%;
  color: white;
}
#customer .row > *:first-child a.profile > span:first-of-type span {
  display: block;
  padding: 11px;
  text-align: center;
}
#customer .row > *:first-child a.profile > span:last-of-type {
  width: calc(100% - 50px);
  padding-left: 10px;
}
#customer .row > *:first-child a.profile > span:last-of-type span {
  display: block;
}
#customer .row > *:first-child a.profile > span:last-of-type span:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#customer .row > *:first-child a.profile > span:last-of-type span:last-child {
  font-size: 14px;
}
#customer .row > *:first-child a.profile i {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
}
#customer .row > *:first-child a.active {
  border-bottom-color: #f05921;
  color: #f05921;
}
#customer .row > *:first-child a:hover {
  opacity: .6;
}
#customer .row > *:first-child:after {
  position: absolute;
  content: '';
  background: #e6e6e6;
  top: 0;
  left: 100%;
  width: 1px;
  height: calc(100% + 50px);
}
#customer .row > *:last-child {
  overflow: hidden;
}
#customer .row > *:last-child > div {
  position: relative;
  width: 400%;
  float: left;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#customer .row > *:last-child > div[data-active="1"] {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
#customer .row > *:last-child > div[data-active="2"] {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
#customer .row > *:last-child > div[data-active="3"] {
  -webkit-transform: translate3d(-75%, 0, 0);
  transform: translate3d(-75%, 0, 0);
}
#customer .row > *:last-child > div h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
#customer .row > *:last-child > div h2:nth-of-type(2) {
  margin-top: 40px;
}
#customer .row > *:last-child > div form button {
  margin-bottom: 20px;
  padding: 4px 15px;
}
#customer .row > *:last-child > div form .form-group {
  font-size: 0;
}
#customer .row > *:last-child > div form .form-group > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
#customer .row > *:last-child > div form .form-group > *:first-child {
  width: 33.33%;
  margin: 0;
}
#customer .row > *:last-child > div form .form-group > *:last-child {
  width: 66.66%;
}
#customer .row > *:last-child > div form .form-group > *:last-child.account > * {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 5px 10px;
}
#customer .row > *:last-child > div form .form-group > * .reveal {
  cursor: pointer;
}
#customer .row > *:last-child > div form .form-group > * .reveal .material-icons {
  line-height: 1.4;
  font-size: 15px;
}
#customer .row > *:last-child > div form .form-group select {
  cursor: pointer;
}
#customer .row > *:last-child > div table th,
#customer .row > *:last-child > div table td {
  vertical-align: middle;
  overflow: hidden;
  word-wrap: break-word;
}
#customer .row > *:last-child > div table th:first-child,
#customer .row > *:last-child > div table td:first-child {
  max-width: 260px;
}
#customer .row > *:last-child:before {
  position: absolute;
  content: '';
  background: white;
  top: 0;
  left: 0;
  width: 17px;
  border-left: 1px solid #e6e6e6;
  height: calc(100% + 50px);
}
#customer .row > *:last-child:after {
  position: absolute;
  content: '';
  background: white;
  top: 0;
  right: 0;
  width: 18px;
  height: calc(100% + 50px);
}
#contact i.fa {
  color: #f05921;
}
.calculate {
  margin-top: 40px;
}

/*# sourceMappingURL=simponi.css.map */
