.bg-primary {
    background: @theme-primary url(../images/textures/arches.png);
    color: white;
}

.bg-secondary {
    background: @theme-secondary url(../images/textures/arches.png);
    color: white;
}

.bg-featured {
    background: @gray-lighter url(../images/textures/arches.png);
}

.bg-aliceblue {
    background: #F0F8FF;
}

.bg-softgray {
    background: #F7FAFC;
}

.bg-dark {
    background: @gray-darker url(../images/textures/black-linen.png);
    color: white;
}

.bg-maroon {
    background: #9B4B5A url(../images/textures/black-linen.png);
    color: white;
}