.bg-primary {
    background: @theme-primary url(../../../../public/theme/front/images/textures/arches.png);
    color: white;
}

.bg-secondary {
    background: @theme-secondary url(../../../../public/theme/front/images/textures/arches.png);
    color: white;
}

.bg-wisma46 {
    @wisma46-overlay: rgba(0, 92, 100, 0.25);

    color: white;
    background:
            linear-gradient(
                    @wisma46-overlay,
                    @wisma46-overlay
            ),
            url(../../../../public/theme/front/images/bg/wisma46.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-featured {
    background: @gray-lighter url(../../../../public/theme/front/images/textures/batik.png);
}

.bg-aliceblue {
    background: #F0F8FF;
}

.bg-softgray {
    background: #F7FAFC;
}

.bg-dark {
    background: @gray-darker url(../../../../public/theme/front/images/textures/black-linen.png);
    color: white;
}

.bg-maroon {
    background: #9B4B5A url(../../../../public/theme/front/images/textures/black-linen.png);
    color: white;
}