header.sim-carousel {
    position: relative;

    .carousel {
        .item {
            background-color: #777;
        }
    }

    .carousel-caption {
        top: 40%;
        left: 20%;
        right: 20%;
        bottom: auto;
    }

    @media (min-width: 768px) {
        .carousel-indicators {
            bottom: 30px;
        }
    }
}

@media (min-width: 768px) {
    header.sim-carousel {
        #header-nav-masking {
            height: 200px;
            width: 100%;
            position: absolute;
            top: 0;
            background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.001) 0,rgba(0,0,0,.5) 100%);
            background-image: -o-linear-gradient(bottom,rgba(0,0,0,.001) 0,rgba(0,0,0,.5) 100%);
            background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.001)),to(rgba(0,0,0,.5)));
            background-image: linear-gradient(to top,rgba(0,0,0,.001) 0,rgba(0,0,0,.3) 100%);
            // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
            background-repeat: repeat-x;

            &.affix {
                visibility: hidden;
            }
        }
    }
}

@media (max-width: 768px) {
    header.sim-carousel {
        .item {
            .carousel-caption {
                h1 {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 13px;

                    .btn {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}