footer {
    padding: 10px 0;
    .container {
        padding-top: 10px;
        border-top: 1px solid @gray-lighter;
        img {
            margin-left: 10px;
            float: right;
        }
    }
}