.navbar-default {
    background-color: @theme-secondary;
    border-bottom: 1px solid darken(@theme-secondary, 4%);
    .navbar-collapse {
        border-color: darken(@theme-secondary, 4%);
    }
    .sans-serif-font;
    .transition-all;
    .navbar-header .navbar-brand {
        img {
            margin-top: -7px;
            height: 40px;
        }
    }
    .navbar-header .navbar-toggle {
        font-weight: 700;
        font-size: 12px;
        color: darken(@theme-secondary, 8%);
        background-color: transparent;
        text-transform: uppercase;
        border-color: darken(@theme-secondary, 8%);
    }
    .nav {
        > li {
            .dropdown-menu > li > a {
                color: @gray-lighter !important;
            }
            &.open > a,
            &.open > a:focus,
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                background-color: transparent;
                color: @gray-lighter;
                &:hover {
                    color: @orange-lighter;
                }
                &.login {
                    color: @orange-light;
                    &:hover {
                        color: @gray-light;
                    }
                    .material-icons {
                        margin-top: -3px;
                        margin-right: 5px;
                        font-size: 20px;
                        vertical-align: middle;
                    }
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: @theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .navbar-header .navbar-brand {
            img {
                margin-top: -3px;
                height: 40px;
            }
        }
        .nav > li > .dropdown-menu {
            background-color: darken(@theme-secondary, 4%);
            a {
                color: @gray-lighter;
                padding-top: 6px;
                padding-bottom: 6px;
                font-weight: 300;

                &:hover {
                    background-color: @theme-primary;
                }
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            line-height: 60px;
            height: 60px;
            padding-top: 0;
        }
        .nav > li {
            &:hover .dropdown-menu {
                visibility: visible;
                opacity: 1;
            }
            & .dropdown-menu {
                display: block;
                visibility: hidden;
                opacity: 0;
                .transition-all;
                right: auto;
                left: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    body.with-affix-menu {
        .navbar-default {
            &.affix-top {
                background-color: transparent;
                border-color: fade(white, 30%);

                .nav > li > a,
                .nav > li > a:focus {
                    color: fade(white, 70%);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}