section {
    padding: 90px 0;

    .col-content {
        text-align: center;
        padding: 35px;
    }

    .col-illustration {
        text-align: center;

        .embed-responsive {
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12),0 7px 17px 0 rgba(0,0,0,0.1);
        }

        .img-responsive {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .col-content-list {
        text-align: left;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 40px;

        .fa {
            padding: 3px 0;
            color: @theme-primary;
        }
    }

    &.section-left {
        text-align: left;
        .col-content {
            text-align: left;
        }

        hr {
            margin-left: 0;
        }
    }

    &.section-box {
        &.featured {
            border-top: 5px solid darken(@gray-lighter, 20%);
        }

        padding-top: 30px;
        padding-bottom: 30px;

        .section-box-item {
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.12),0 7px 17px 0 rgba(0,0,0,0.1);
            height: 150px;
            padding: 15px;

            &:hover {
                transition: box-shadow .15s ease-in-out;
                box-shadow: 0 1px 5px 0 rgba(0,0,0,0.17),0 7px 25px 0 rgba(0,0,0,0.15);
            }

            .box-header {
                position: relative;
                .box-title {
                    margin: 0;
                    color: @theme-secondary;
                    font-weight: bold;
                }

                .box-title-action {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .box-body {
                ul {
                    padding-left: 0;
                    margin-top: 12px;

                    li {
                        font-size: 16px;

                        a {
                            color: #6c6c6c;

                            &:hover {
                                text-decoration: none;
                                color: @theme-primary;
                                .transition-all;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 992px) {
            padding-top: 15px;
            padding-bottom: 0;
            .section-box-item {
                margin-bottom: 15px;
            }
        }
    }
}

.section-heading {
    margin-top: 0;
}

aside {
    padding: 50px 0;
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;

    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

section#contact {
    border-top: 1px solid #e8ecec;
    padding-top: 50px !important;
    padding-bottom: 30px !important;

    .contact-left {
        text-align: left;
        hr {
            margin-left: 0;
        }
    }

    .contact-right {
        text-align: left;
        hr {
            margin-left: 0;
        }
    }
}